.Home {
  display: grid;
  box-sizing: content-box;
  // @include fc(1, 0);
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  @include ddq() {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tdq() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mdq() {
    grid-template-columns: 1fr;
  }
}
