@mixin no-gutter($lh: 0) {
  margin: 0;
  padding: 0;
  line-height: $lh;
}

// give parameter(s)
@mixin text-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

@mixin t-e {
  @include text-ellipsis();
}
